<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.643197199024-pejrku9mnd0ibqhhup0lipi2c4323eko</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>643197199024-pejrku9mnd0ibqhhup0lipi2c4323eko.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>AmiriQuran-Regular.ttf</string>
	</array>
</dict>
</plist>
